# **Article 109 : Important Series Methods** [![Static Badge](https://img.shields.io/badge/Open%20in%20Colab%20-%20orange?style=plastic&logo=googlecolab&labelColor=grey)](https://colab.research.google.com/github/sshrizvi/DataScienceMastery/blob/main/Pandas/Notebooks/109_important_series_methods.ipynb)

|ðŸ”´ **NOTE** ðŸ”´|
|:-----------:|
|This notebook contains the practical implementations of the concepts discussed in the following article.|
| Here is Article 109 - [Important Series Methods](../Articles/109_important_series_methods.md) |

### ðŸ“¦ **Importing Relevant Libraries**

In [1]:
import numpy as np
import pandas as pd
import sys

### ðŸ’¡ **Reading Relevant Data into Series**

In [2]:
bollywood = pd.read_csv('../Resources/Data/bollywood.csv', index_col='movie').squeeze()
virat_kohli_ipl = pd.read_csv('../Resources/Data/kohli_ipl.csv', index_col='match_no').squeeze()
subscribers = pd.read_csv('../Resources/Data/subs.csv').squeeze()

### ðŸ’¡ **Verifying Data Loading Into Series**

In [3]:
bollywood

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [4]:
virat_kohli_ipl

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [5]:
subscribers

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

### ðŸŽ¯ **Series.astype()**

In [6]:
sys.getsizeof(virat_kohli_ipl)

3472

In [7]:
new_data = virat_kohli_ipl.astype('int16')

In [8]:
new_data

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int16

In [9]:
sys.getsizeof(new_data)

2182

### ðŸŽ¯ **Series.between()**

In [10]:
virat_kohli_ipl.between(50, 100)

match_no
1      False
2      False
3      False
4      False
5      False
       ...
211    False
212    False
213     True
214    False
215    False
Name: runs, Length: 215, dtype: bool

In [11]:
virat_kohli_ipl[virat_kohli_ipl.between(50, 100)].size

47

### ðŸŽ¯ **Series.clip()**

In [12]:
subscribers

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [13]:
subscribers.clip(100, 200)

0      100
1      100
2      100
3      100
4      100
      ...
360    200
361    200
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

### ðŸŽ¯ **Series.drop_duplicates()**

In [41]:
temp = pd.Series([1, 1, 2, 2, 3, 3, 4, 4])
temp

0    1
1    1
2    2
3    2
4    3
5    3
6    4
7    4
dtype: int64

In [42]:
temp.drop_duplicates()

0    1
2    2
4    3
6    4
dtype: int64

In [43]:
temp.drop_duplicates(keep='last')

1    1
3    2
5    3
7    4
dtype: int64

### ðŸŽ¯ **Series.isnull()**

In [15]:
temp = pd.Series([1, 2, 3, np.nan, 5, 6, np.nan, 8, np.nan, 10])
temp

0     1.0
1     2.0
2     3.0
3     NaN
4     5.0
5     6.0
6     NaN
7     8.0
8     NaN
9    10.0
dtype: float64

In [16]:
temp.isnull()

0    False
1    False
2    False
3     True
4    False
5    False
6     True
7    False
8     True
9    False
dtype: bool

In [17]:
temp.isnull().sum()

3

### ðŸŽ¯ **Series.dropna()**

In [18]:
temp

0     1.0
1     2.0
2     3.0
3     NaN
4     5.0
5     6.0
6     NaN
7     8.0
8     NaN
9    10.0
dtype: float64

In [19]:
temp.dropna()

0     1.0
1     2.0
2     3.0
4     5.0
5     6.0
7     8.0
9    10.0
dtype: float64

### ðŸŽ¯ **Series.fillna()**

In [20]:
temp

0     1.0
1     2.0
2     3.0
3     NaN
4     5.0
5     6.0
6     NaN
7     8.0
8     NaN
9    10.0
dtype: float64

In [21]:
temp.fillna(0)

0     1.0
1     2.0
2     3.0
3     0.0
4     5.0
5     6.0
6     0.0
7     8.0
8     0.0
9    10.0
dtype: float64

In [22]:
temp.fillna(temp.mean())

0     1.0
1     2.0
2     3.0
3     5.0
4     5.0
5     6.0
6     5.0
7     8.0
8     5.0
9    10.0
dtype: float64

### ðŸŽ¯ **Series.isin()**

In [25]:
virat_kohli_ipl.isin([49,99])

match_no
1      False
2      False
3      False
4      False
5      False
       ...
211    False
212    False
213    False
214    False
215    False
Name: runs, Length: 215, dtype: bool

In [26]:
virat_kohli_ipl[virat_kohli_ipl.isin([49,99])]

match_no
82    99
86    49
Name: runs, dtype: int64

### ðŸŽ¯ **Series.apply()**

In [27]:
subscribers

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [28]:
subscribers.apply(lambda x : 'Good Day' if x > subscribers.mean() else 'Bad Day')

0       Bad Day
1       Bad Day
2       Bad Day
3       Bad Day
4       Bad Day
         ...
360    Good Day
361    Good Day
362    Good Day
363    Good Day
364    Good Day
Name: Subscribers gained, Length: 365, dtype: object

### ðŸŽ¯ **Series.copy()**

In [31]:
virat_kohli_ipl

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [30]:
view = virat_kohli_ipl.head()
view

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

In [32]:
view[1] = 100

In [33]:
view

match_no
1    100
2     23
3     13
4     12
5      1
Name: runs, dtype: int64

In [34]:
virat_kohli_ipl

match_no
1      100
2       23
3       13
4       12
5        1
      ...
211      0
212     20
213     73
214     25
215      7
Name: runs, Length: 215, dtype: int64

In [37]:
copy = virat_kohli_ipl.head().copy()
copy

match_no
1    100
2     23
3     13
4     12
5      1
Name: runs, dtype: int64

In [39]:
copy[1] = 1
copy

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

In [40]:
virat_kohli_ipl

match_no
1      100
2       23
3       13
4       12
5        1
      ...
211      0
212     20
213     73
214     25
215      7
Name: runs, Length: 215, dtype: int64