# **Article 112 : DataFrame Mathematical Methods** [![Static Badge](https://img.shields.io/badge/Open%20in%20Colab%20-%20orange?style=plastic&logo=googlecolab&labelColor=grey)](https://colab.research.google.com/github/sshrizvi/DS-Python/blob/main/Pandas/Notebooks/112_dataframes_mathematical_methods.ipynb)

|üî¥ **NOTE** üî¥|
|:-----------:|
|This notebook contains the practical implementations of the concepts discussed in the following article.|
| Here is Article 112 - [DataFrames Mathematical Methods](../Articles/112_dataframes_mathematical_methods.md) |

### üì¶ **Importing Relevant Libraries**

In [1]:
import numpy as np
import pandas as pd

### ‚ö†Ô∏è **Data Warning**
The data is in the [Resources](../Resources/) folder.

#### **Reading Data into DataFrames**

In [2]:
ipl_df = pd.read_csv('../Resources/Data/ipl-matches.csv')
ipl_df

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,335986,Kolkata,2008-04-20,2007/08,4,Kolkata Knight Riders,Deccan Chargers,Eden Gardens,Deccan Chargers,bat,N,Kolkata Knight Riders,Wickets,5.0,NaN,DJ Hussey,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",BF Bowden,K Hariharan
946,335985,Mumbai,2008-04-20,2007/08,5,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,N,Royal Challengers Bangalore,Wickets,5.0,NaN,MV Boucher,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",SJ Davis,DJ Harper
947,335984,Delhi,2008-04-19,2007/08,3,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,N,Delhi Daredevils,Wickets,9.0,NaN,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar
948,335983,Chandigarh,2008-04-19,2007/08,2,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,N,Chennai Super Kings,Runs,33.0,NaN,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri
949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen

In [3]:
movies_df = pd.read_csv('../Resources/Data/movies.csv')
movies_df

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA)
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1624,Tera Mera Saath Rahen,tt0301250,https://upload.wikimedia.org/wikipedia/en/2/2b...,https://en.wikipedia.org/wiki/Tera_Mera_Saath_...,Tera Mera Saath Rahen,Tera Mera Saath Rahen,0,2001,148,Drama,4.9,278,Raj Dixit lives with his younger brother Rahu...,A man is torn between his handicapped brother ...,NaN,Ajay Devgn|Sonali Bendre|Namrata Shirodkar|Pre...,NaN,7 November 2001 (India)
1625,Yeh Zindagi Ka Safar,tt0298607,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Yeh_Zindagi_Ka_S...,Yeh Zindagi Ka Safar,Yeh Zindagi Ka Safar,0,2001,146,Drama,3.0,133,Hindi pop-star Sarina Devan lives a wealthy ...,A singer finds out she was adopted when the ed...,NaN,Ameesha Patel|Jimmy Sheirgill|Nafisa Ali|Gulsh...,NaN,16 November 2001 (India)
1626,Sabse Bada Sukh,tt0069204,NaN,https://en.wikipedia.org/wiki/Sabse_Bada_Sukh,Sabse Bada Sukh,Sabse Bada Sukh,0,2018,\N,Comedy|Drama,6.1,13,Village born Lalloo re-locates to Bombay and ...,Village born Lalloo re-locates to Bombay and ...,NaN,Vijay Arora|Asrani|Rajni Bala|Kumud Damle|Utpa...,NaN,NaN
1627,Daaka,tt10833860,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Daaka,Daaka,Daaka,0,2019,136,Action,7.4,38,Shinda tries robbing a bank so he can be wealt...,Shinda tries robbing a bank so he can be wealt...,NaN,Gippy Grewal|Zareen Khan|,NaN,1 November 2019 (USA)
1628,Humsafar,tt2403201,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Humsafar,Humsafar,Humsafar,0,2011,35,Drama|Romance,9.0,2968,Sara and Ashar are childhood friends who share...,Ashar and Khirad are forced to get married due...,NaN,Fawad Khan|,NaN,TV Series (2011‚Äì2012)

In [17]:
dict_data = {
    'IQ' : [100, 120, 140, 160, 180],
    'MARKS' : [200, 220, 240, 260, 280],
    'PACKAGE' : [60, 70, 80, 90, 100]
}
students_df = pd.DataFrame(data = dict_data)
students_df

    IQ  MARKS  PACKAGE
0  100    200       60
1  120    220       70
2  140    240       80
3  160    260       90
4  180    280      100

### üöÄ **DataFrame Mathematical Methods**

#### üéØ ***1. DataFrame.sum()***

In [18]:
students_df.sum()

IQ          700
MARKS      1200
PACKAGE     400
dtype: int64

In [19]:
students_df.sum(axis = 1)

0    360
1    410
2    460
3    510
4    560
dtype: int64

In [13]:
ipl_df.sum(numeric_only=True)

ID        788960985.0
Margin        15897.0
dtype: float64

In [15]:
movies_df.sum(numeric_only=True)

is_adult                 0.0
year_of_release    3274720.0
imdb_rating           9053.1
imdb_votes         8770965.0
dtype: float64

#### üéØ ***2. DataFrame.product()***

In [22]:
ipl_df.product(numeric_only=True)

ID        0.0
Margin    inf
dtype: float64

In [23]:
movies_df.product(numeric_only=True)

is_adult           0.0
year_of_release    0.0
imdb_rating        0.0
imdb_votes         0.0
dtype: float64

In [24]:
students_df.product()

IQ          48384000000
MARKS      768768000000
PACKAGE      3024000000
dtype: int64

In [25]:
students_df.product(axis=1)

0    1200000
1    1848000
2    2688000
3    3744000
4    5040000
dtype: int64

#### üéØ ***3. DataFrame.mean()***

In [27]:
ipl_df.mean(numeric_only=True)

ID        830485.247368
Margin        17.056867
dtype: float64

In [28]:
movies_df.mean(numeric_only=True)

is_adult              0.000000
year_of_release    2010.263966
imdb_rating           5.557459
imdb_votes         5384.263352
dtype: float64

In [31]:
students_df.mean()

IQ         140.0
MARKS      240.0
PACKAGE     80.0
dtype: float64

In [30]:
students_df.mean(axis=1)

0    120.000000
1    136.666667
2    153.333333
3    170.000000
4    186.666667
dtype: float64

#### üéØ ***4. DataFrame.median()***

In [33]:
ipl_df.median(numeric_only=True)

ID        829738.0
Margin         8.0
dtype: float64

In [35]:
movies_df.median(numeric_only=True)

is_adult              0.0
year_of_release    2011.0
imdb_rating           5.6
imdb_votes         1000.0
dtype: float64

In [36]:
students_df.median()

IQ         140.0
MARKS      240.0
PACKAGE     80.0
dtype: float64

In [37]:
students_df.median(axis=1)

0    100.0
1    120.0
2    140.0
3    160.0
4    180.0
dtype: float64

#### üéØ ***5. DataFrame.mode()***

In [44]:
ipl_df.mode()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,335982,Mumbai,2008-04-19,2013,1,Royal Challengers Bangalore,Mumbai Indians,Eden Gardens,Mumbai Indians,field,N,Mumbai Indians,Wickets,6.0,D/L,AB de Villiers,"['AC Gilchrist', 'VVS Laxman', 'HH Gibbs', 'A ...","['AM Rahane', 'SV Samson', 'SPD Smith', 'KK Na...",AK Chaudhary,S Ravi
1,335983,NaN,2008-04-20,NaN,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['CA Lynn', 'SP Narine', 'RV Uthappa', 'N Rana...","['Abhishek Sharma', 'KS Williamson', 'RA Tripa...",NaN,NaN
2,335984,NaN,2008-04-26,NaN,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['DA Warner', 'S Dhawan', 'MC Henriques', 'Yuv...","['BA Stokes', 'JC Buttler', 'SPD Smith', 'SV S...",NaN,NaN
3,335985,NaN,2008-04-27,NaN,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['DR Smith', 'SR Tendulkar', 'KD Karthik', 'RG...","['BB McCullum', 'CH Gayle', 'BJ Hodge', 'SC Ga...",NaN,NaN
4,335986,NaN,2008-05-01,NaN,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['G Gambhir', 'DA Warner', 'TM Dilshan', 'AB d...","['DA Warner', 'S Dhawan', 'KS Williamson', 'Yu...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,1304116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
946,1312197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
947,1312198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
948,1312199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
949,1312200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
movies_df.mode()

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Andaaz,tt0169102,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/%3F:_A_Question_...,Style,Andaaz,0.0,2014.0,\N,Drama,5.7,0.0,Gabbar Singh Rajput (Akshay Kumar) creates his...,Add a Plot¬†¬ª,A million-dollar fake,Aamir Khan|Gracy Singh|Rachel Shelley|Paul Bla...,1 nomination,14 October 2016 (India)
1,Gabbar Is Back,tt0346507,NaN,https://en.wikipedia.org/wiki/16_December_(film),NaN,Gabbar is Back,NaN,NaN,NaN,NaN,NaN,NaN,LOC KARGIL is the story of Indian soldiers fig...,NaN,Heroes do not choose their destiny| destiny ch...,Akshay Kumar|Lara Dutta|Priyanka Chopra|Rajeev...,NaN,18 July 2014 (India)
2,Lagaan,tt0347416,NaN,https://en.wikipedia.org/wiki/1920:_The_Evil_R...,NaN,Gangs of Wasseypur,NaN,NaN,NaN,NaN,NaN,NaN,Shahid Khan is exiled after impersonating the ...,NaN,Once upon a time in India,Akshay Kumar|Shruti Haasan|Kareena Kapoor|Jaid...,NaN,8 June 2007 (India)
3,Tanu Weds Manu: Returns,tt1954470,NaN,https://en.wikipedia.org/wiki/1920_(film),NaN,Ghost,NaN,NaN,NaN,NaN,NaN,NaN,Tanu and Manu's marriage collapses. What happe...,NaN,When you love someone express it,Kangana Ranaut|Madhavan|Jimmy Sheirgill|Swara ...,NaN,9 May 2014 (India)
4,NaN,tt2140465,NaN,https://en.wikipedia.org/wiki/1920_London,NaN,Holiday,NaN,NaN,NaN,NaN,NaN,NaN,This is the story about the resilience shown b...,NaN,NaN,Manoj Bajpayee|Richa Chadha|Nawazuddin Siddiqu...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1624,NaN,NaN,NaN,https://en.wikipedia.org/wiki/Zindagi_Na_Mileg...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1625,NaN,NaN,NaN,https://en.wikipedia.org/wiki/Zindagi_Tere_Naam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1626,NaN,NaN,NaN,https://en.wikipedia.org/wiki/Zokkomon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1627,NaN,NaN,NaN,https://en.wikipedia.org/wiki/Zor_Lagaa_Ke...H...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1628,NaN,NaN,NaN,https://en.wikipedia.org/wiki/Zubeidaa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
students_df.mode()

    IQ  MARKS  PACKAGE
0  100    200       60
1  120    220       70
2  140    240       80
3  160    260       90
4  180    280      100

#### üéØ ***6. DataFrame.std()***

In [50]:
ipl_df.std(numeric_only=True)

ID        337567.829494
Margin        21.633109
dtype: float64

In [51]:
movies_df.std(numeric_only=True)

is_adult               0.000000
year_of_release        5.381542
imdb_rating            1.567609
imdb_votes         14552.103231
dtype: float64

In [52]:
students_df.std()

IQ         31.622777
MARKS      31.622777
PACKAGE    15.811388
dtype: float64

In [53]:
students_df.std(ddof=0)

IQ         28.284271
MARKS      28.284271
PACKAGE    14.142136
dtype: float64

#### üéØ ***7. DataFrame.var()***

In [55]:
ipl_df.var(numeric_only=True)

ID        1.139520e+11
Margin    4.679914e+02
dtype: float64

In [56]:
movies_df.var(numeric_only=True)

is_adult           0.000000e+00
year_of_release    2.896099e+01
imdb_rating        2.457397e+00
imdb_votes         2.117637e+08
dtype: float64

In [57]:
students_df.var()

IQ         1000.0
MARKS      1000.0
PACKAGE     250.0
dtype: float64

In [58]:
students_df.var(axis=1)

0    5200.000000
1    5833.333333
2    6533.333333
3    7300.000000
4    8133.333333
dtype: float64