# **Article 113 : Selecting Rows and Columns** [![Static Badge](https://img.shields.io/badge/Open%20in%20Colab%20-%20orange?style=plastic&logo=googlecolab&labelColor=grey)](https://colab.research.google.com/github/sshrizvi/DS-Python/blob/main/Pandas/Notebooks/113_selecting_rows_and_columns.ipynb)

|üî¥ **NOTE** üî¥|
|:-----------:|
|This notebook contains the practical implementations of the concepts discussed in the following article.|
| Here is Article 113 - [Selecting Rows and Columns](../Articles/113_selecting_rows_and_columns.md) |

### üì¶ **Importing Relevant Libraries**

In [1]:
import numpy as np
import pandas as pd

### ‚ö†Ô∏è **Data Warning**
The data is in the [Resources](../Resources/) folder.

#### **Reading Data into DataFrames**

In [2]:
ipl_df = pd.read_csv('../Resources/Data/ipl-matches.csv')
ipl_df

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,335986,Kolkata,2008-04-20,2007/08,4,Kolkata Knight Riders,Deccan Chargers,Eden Gardens,Deccan Chargers,bat,N,Kolkata Knight Riders,Wickets,5.0,NaN,DJ Hussey,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",BF Bowden,K Hariharan
946,335985,Mumbai,2008-04-20,2007/08,5,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,N,Royal Challengers Bangalore,Wickets,5.0,NaN,MV Boucher,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",SJ Davis,DJ Harper
947,335984,Delhi,2008-04-19,2007/08,3,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,N,Delhi Daredevils,Wickets,9.0,NaN,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar
948,335983,Chandigarh,2008-04-19,2007/08,2,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,N,Chennai Super Kings,Runs,33.0,NaN,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri
949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen

In [3]:
movies_df = pd.read_csv('../Resources/Data/movies.csv')
movies_df

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA)
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1624,Tera Mera Saath Rahen,tt0301250,https://upload.wikimedia.org/wikipedia/en/2/2b...,https://en.wikipedia.org/wiki/Tera_Mera_Saath_...,Tera Mera Saath Rahen,Tera Mera Saath Rahen,0,2001,148,Drama,4.9,278,Raj Dixit lives with his younger brother Rahu...,A man is torn between his handicapped brother ...,NaN,Ajay Devgn|Sonali Bendre|Namrata Shirodkar|Pre...,NaN,7 November 2001 (India)
1625,Yeh Zindagi Ka Safar,tt0298607,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Yeh_Zindagi_Ka_S...,Yeh Zindagi Ka Safar,Yeh Zindagi Ka Safar,0,2001,146,Drama,3.0,133,Hindi pop-star Sarina Devan lives a wealthy ...,A singer finds out she was adopted when the ed...,NaN,Ameesha Patel|Jimmy Sheirgill|Nafisa Ali|Gulsh...,NaN,16 November 2001 (India)
1626,Sabse Bada Sukh,tt0069204,NaN,https://en.wikipedia.org/wiki/Sabse_Bada_Sukh,Sabse Bada Sukh,Sabse Bada Sukh,0,2018,\N,Comedy|Drama,6.1,13,Village born Lalloo re-locates to Bombay and ...,Village born Lalloo re-locates to Bombay and ...,NaN,Vijay Arora|Asrani|Rajni Bala|Kumud Damle|Utpa...,NaN,NaN
1627,Daaka,tt10833860,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Daaka,Daaka,Daaka,0,2019,136,Action,7.4,38,Shinda tries robbing a bank so he can be wealt...,Shinda tries robbing a bank so he can be wealt...,NaN,Gippy Grewal|Zareen Khan|,NaN,1 November 2019 (USA)
1628,Humsafar,tt2403201,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Humsafar,Humsafar,Humsafar,0,2011,35,Drama|Romance,9.0,2968,Sara and Ashar are childhood friends who share...,Ashar and Khirad are forced to get married due...,NaN,Fawad Khan|,NaN,TV Series (2011‚Äì2012)

In [40]:
dict_data = {
    'NAME' : ['Shujaat', 'Abbas', 'Ali', 'Chandra', 'Verma'],
    'IQ' : [100, 120, 140, 160, 180],
    'MARKS' : [200, 220, 240, 260, 280],
    'PACKAGE' : [60, 70, 80, 90, 100]
}
students_df = pd.DataFrame(data = dict_data)
students_df.set_index('NAME', inplace=True)
students_df

          IQ  MARKS  PACKAGE
NAME
Shujaat  100    200       60
Abbas    120    220       70
Ali      140    240       80
Chandra  160    260       90
Verma    180    280      100

### üöÄ **Selecting Columns**

#### üéØ **1. Single Column**

In [5]:
ipl_df['ID']

0      1312200
1      1312199
2      1312198
3      1312197
4      1304116
        ...
945     335986
946     335985
947     335984
948     335983
949     335982
Name: ID, Length: 950, dtype: int64

In [6]:
type(ipl_df['ID'])

pandas.core.series.Series

In [7]:
movies_df['actors']

0       Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...
1       Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...
2       Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...
3       Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...
4       Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...
                              ...
1624    Ajay Devgn|Sonali Bendre|Namrata Shirodkar|Pre...
1625    Ameesha Patel|Jimmy Sheirgill|Nafisa Ali|Gulsh...
1626    Vijay Arora|Asrani|Rajni Bala|Kumud Damle|Utpa...
1627                            Gippy Grewal|Zareen Khan|
1628                                          Fawad Khan|
Name: actors, Length: 1629, dtype: object

In [8]:
type(movies_df['actors'])

pandas.core.series.Series

In [9]:
students_df['PACKAGE']

0     60
1     70
2     80
3     90
4    100
Name: PACKAGE, dtype: int64

#### üéØ **2. Multiple Columns**

In [13]:
ipl_df[['ID', 'City', 'WinningTeam']]

          ID        City                  WinningTeam
0    1312200   Ahmedabad               Gujarat Titans
1    1312199   Ahmedabad             Rajasthan Royals
2    1312198     Kolkata  Royal Challengers Bangalore
3    1312197     Kolkata               Gujarat Titans
4    1304116      Mumbai                 Punjab Kings
..       ...         ...                          ...
945   335986     Kolkata        Kolkata Knight Riders
946   335985      Mumbai  Royal Challengers Bangalore
947   335984       Delhi             Delhi Daredevils
948   335983  Chandigarh          Chennai Super Kings
949   335982   Bangalore        Kolkata Knight Riders

[950 rows x 3 columns]

In [16]:
movies_df[['title_x', 'original_title', 'release_date']]

,title_x,original_title,release_date
0,Uri: The Surgical Strike,Uri: The Surgical Strike,11 January 2019 (USA)
1,Battalion 609,Battalion 609,11 January 2019 (India)
2,The Accidental Prime Minister (film),The Accidental Prime Minister,11 January 2019 (USA)
3,Why Cheat India,Why Cheat India,18 January 2019 (USA)
4,Evening Shadows,Evening Shadows,11 January 2019 (India)
...,...,...,...
1624,Tera Mera Saath Rahen,Tera Mera Saath Rahen,7 November 2001 (India)
1625,Yeh Zindagi Ka Safar,Yeh Zindagi Ka Safar,16 November 2001 (India)
1626,Sabse Bada Sukh,Sabse Bada Sukh,NaN
1627,Daaka,Daaka,1 November 2019 (USA)
1628,Humsafar,Humsafar,TV Series (2011‚Äì2012)

### üöÄ **Selecting Rows**

#### üéØ **1. Using `iloc[]`**

##### **a. Single Row**

In [23]:
ipl_df.iloc[0]

ID                                                           1312200
City                                                       Ahmedabad
Date                                                      2022-05-29
Season                                                          2022
MatchNumber                                                    Final
Team1                                               Rajasthan Royals
Team2                                                 Gujarat Titans
Venue                               Narendra Modi Stadium, Ahmedabad
TossWinner                                          Rajasthan Royals
TossDecision                                                     bat
SuperOver                                                          N
WinningTeam                                           Gujarat Titans
WonBy                                                        Wickets
Margin                                                           7.0
method                                                           NaN
Player_of_Match                                            HH Pandya
Team1Players       ['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...
Team2Players       ['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...
Umpire1                                                  CB Gaffaney
Umpire2                                                  Nitin Menon
Name: 0, dtype: object

In [25]:
type(ipl_df.iloc[0])

pandas.core.series.Series

##### **b. Multiple Rows using Slicing**

In [26]:
movies_df.iloc[0:10]

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA)
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)
5,Soni (film),tt6078866,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Soni_(film),Soni,Soni,0,2018,97,Drama,7.2,1595,Soni a young policewoman in Delhi and her su...,While fighting crimes against women in Delhi ...,NaN,Geetika Vidya Ohlyan|Saloni Batra|Vikas Shukla...,3 wins & 5 nominations,18 January 2019 (USA)
6,Fraud Saiyaan,tt5013008,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Fraud_Saiyaan,Fraud Saiyaan,Fraud Saiyyan,0,2019,109,Comedy|Drama,4.2,504,Fraud Saiyyan is the story of a con artist in ...,Fraud Saiyyan is the story of a con artist in ...,NaN,Arshad Warsi|Saurabh Shukla|Flora Saini|Sara L...,NaN,18 January 2019 (India)
7,Bombairiya,tt4971258,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Bombairiya,Bombairiya,Bombairiya,0,2019,104,Comedy|Crime|Drama,4.3,295,It follows the story of Meghna who gets embro...,It follows the story of Meghna who gets embro...,They didn't mean to change the world.,Radhika Apte|Akshay Oberoi|Siddhanth Kapoor|Ra...,NaN,18 January 2019 (India)
8,Manikarnika: The Queen of Jhansi,tt6903440,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Manikarnika:_The...,Manikarnika: The Queen of Jhansi,Manikarnika: The Queen of Jhansi,0,2019,148,Action|Biography|Drama,6.5,7361,Manikarnika born in Varanasi when Dixt a minis...,Story of Rani Lakshmibai one of the leading f...,NaN,Kangana Ranaut|Rimi Sen|Atul Kulkarni|Nalneesh...,NaN,25 January 2019 (USA)
9,Thackeray (film),tt7777196,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Thackeray_(film),Thackeray,Thackeray,0,2019,120,Biography|Drama,5.1,2301,Balasaheb Thackrey works as a cartoonist for a...,Biographical account of Shiv Sena Supremo Bal...,NaN,Nawazuddin Siddiqui|Amrita Rao|Abdul Quadir Am...,NaN,25 January 2019 (India)

##### **c. Multiple Rows using Fancy Indexing**

In [31]:
movies_df.iloc[[1, 5, 940]]

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
5,Soni (film),tt6078866,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Soni_(film),Soni,Soni,0,2018,97,Drama,7.2,1595,Soni a young policewoman in Delhi and her su...,While fighting crimes against women in Delhi ...,NaN,Geetika Vidya Ohlyan|Saloni Batra|Vikas Shukla...,3 wins & 5 nominations,18 January 2019 (USA)
940,Paying Guests,tt1176961,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Paying_Guests,Paying Guests,Paying Guests,0,2009,109,Comedy|Drama,4.2,471,After Bhavesh Parag Parikshat and Jayesh ri...,Four friends' attempts to find employment and ...,NaN,Shreyas Talpade|Javed Jaffrey|Aashish Chaudhar...,NaN,19 June 2009 (India)

##### **d. Multiple Rows using Boolean Array**

In [33]:
mask = movies_df.index % 100 == 0
movies_df.iloc[mask]

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
100,October (2018 film),tt7700730,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/October_(2018_film),October,October,0,2018,115,Drama|Romance,7.5,11125,Dan (Varun Dhawan) is living the life of any c...,A group of interns are going through the usual...,This is not a love story. This is a story abou...,Varun Dhawan|Banita Sandhu|Gitanjali Rao|Sahil...,3 wins & 9 nominations,13 April 2018 (USA)
200,Tubelight (2017 Hindi film),tt5882970,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Tubelight_(2017_...,Tubelight,Tubelight,0,2017,136,Drama|War,4.0,12911,In a small picturesque town in North India La...,A story of two brothers set during the Sino-In...,Kya Tumhe Yakeen Hai? (Do You Have Faith?),Salman Khan|Sohail Khan|Om Puri|Mohammed Zeesh...,1 win & 3 nominations,23 June 2017 (USA)
300,7 Hours to Go,tt4365060,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/7_Hours_to_Go,7 Hours to Go,7 Hours to Go,0,2016,115,Crime|Thriller,5.7,357,Arjun (Shiv Pandit) come to Mumbai to visit hi...,The film is a fast paced investigative thrille...,The clock is ticking,Vipin Sharma|Sandeepa Dhar|Aakash Dabhade|Shiv...,NaN,24 June 2016 (India)
400,NH-8 Road to Nidhivan,tt4671212,NaN,https://en.wikipedia.org/wiki/NH-8_Road_to_Nid...,NH-8: Road to Nidhivan,NH-8: Road to Nidhivan,0,2015,95,Horror,3.0,31,The gripping film is inspired by true stories ...,The gripping film is inspired by true stories ...,NaN,Auroshika Dey|Arjun Fauzdar|Swaroopa Ghosh|,NaN,17 April 2015 (India)
500,Kahin Hai Mera Pyar,tt3585758,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Kahin_Hai_Mera_Pyar,Kahin Hai Mera Pyar,Kahin Hai Mera Pyar,0,2014,138,Drama|Musical|Romance,6.5,13,Every youth's imagination of love that relates...,A love story which shows a correlation between...,NaN,Eesha Agarwal|Gajendra Chouhan|Sanjay Kapoor|S...,NaN,1 May 2014 (India)
600,Aurangzeb (film),tt2804026,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Aurangzeb_(film),Aurangzeb,Aurangzeb,0,2013,137,Action|Drama|Thriller,6.5,3674,"Gurgaon is the most modern boom-town of ""India...",Kingship knows no Kinship and there can be onl...,You are a king| or nothing.,Arjun Kapoor|Prithviraj Sukumaran|Jackie Shrof...,2 wins & 5 nominations,17 May 2013 (USA)
700,Ek Tha Tiger,tt2016894,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Ek_Tha_Tiger,Ek Tha Tiger,Ek Tha Tiger,0,2012,132,Action|Romance|Thriller,5.5,26996,In the dark world of intelligence and espionag...,India's top spy Tiger and his love Zoya battle...,NaN,Salman Khan|Katrina Kaif|Girish Karnad|Roshan ...,13 wins & 7 nominations,15 August 2012 (India)
800,Saheb Biwi Aur Gangster,tt2073070,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Saheb_Biwi_Aur_G...,Saheb Biwi Aur Gangster,Saheb Biwi Aur Gangster,0,2011,118,Action|Crime|Drama,7.2,3709,After the death of his first wife wealthy Raj...,Hired to kill a nobleman the assassin instead...,NaN,Jimmy Sheirgill|Mahie Gill|Randeep Hooda|Shrey...,3 nominations,23 September 2011 (USA)
900,Mirch,tt1388903,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Mirch,Mirch,Mirch,0,2010,105,Comedy|Drama|Fantasy,6.6,792,Maanav is a struggling filmmaker who does not ...,A story-writer attempts to convince a producer...,Pure 'adult'erated Fun,Arunoday Singh|Raima Sen|Konkona Sen Sharma|Ti...,NaN,22 October 2010 (India)
1000,Woodstock Villa,tt1043876,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Woodstock_Villa,Woodstock Villa,Woodstock Villa,0,2008,\N,Drama|Mystery|Thriller,3.4,370,After a heated public argument between Mumbai-...,A businessman is distraught after refusing to ...,NaN,Sikander Kher|Neha Oberoi|Arbaaz Khan|Gulshan ...,NaN,NaN
1100,Marigold (2007 film),tt0329354,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Marigold_(2007_f...,Marigold,Marigold,0,2007,110,Comedy|Romance,4.8,1765,Born in America Marigold was the only child i...,Ali Larter plays an American actress who becom...,NaN,Salman Khan|Ali Larter|Nandana Sen|Ian Bohen|S...,NaN,17 August 2007 (USA)
1200,Shiva (2006 film),tt0831816,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Shiva_(2006_film),Shiva,Shiva,0,2006,160,Action|Crime|Drama,4.0,314,Sangli-based Shiva Kumar re-locates to Mumbai ...,Sangli-based Shiva Kumar re-locates to Mumbai ...,NaN,Mohit Ahlawat|Priyanka Kothari|Vinod Jaywant|,NaN,15 September 2006 (India)
1300,Socha Na Tha,tt0451919,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Socha_Na_Tha,Socha Na Tha,Socha Na Tha,0,2005,137,Comedy|Romance,7.5,6878,Mr. Oberoi is a wealthy industrialist and liv...,A boy is forced meet a girl for an arranged ma...,NaN,Abhay Deol|Ayesha Takia|Ayesha Jhulka|Apoorva ...,NaN,4 March 2005 (India)
1400,Main Prem Ki Diwani Hoon,tt0265148,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Main_Prem_Ki_Diw...,Main Prem Ki Diwani Hoon,Main Prem Ki Diwani Hoon,0,2003,197,Comedy|Drama|Musical,4.0,3928,The Kapoor family are very rich Indians who li...,The Kapoor family are very rich Indians who li...,NaN,Hrithik Roshan|Kareena Kapoor|Abhishek Bachcha...,3 nominations,27 June 2003 (USA)
1500,Agni Varsha,tt0326722,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Agni_Varsha,Agnivarsha: The Fire and the Rain,Agni Varsha,0,2002,130,Drama|Fantasy|Romance,4.6,333,This is the story of wronged and misunderstood...,This is the story of wronged and misunderstood...,An epic tale of love and sacrifice,Jackie Shroff|Kumar Iyengar|Raveena Tandon|Nag...,1 nomination,30 August 2002 (India)
1600,Kasoor,tt0272688,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Kasoor,Kasoor,Kasoor,0,2001,151,Drama|Mystery|Thriller,6.0,801,Shekar Saxena is arrested and charged with the...,Shekhar appoints Simran a lawyer with an impe...,A dangerous passion...,Divya Dutta|Sucheta Paushe|Lisa Ray|Apoorva Ag...,2 nominations,2 February 2001 (India)

#### üéØ **2. Using `loc[]`**

##### **a. Single Row**

In [42]:
students_df.loc['Shujaat']

IQ         100
MARKS      200
PACKAGE     60
Name: Shujaat, dtype: int64

##### **b. Multiple Rows using Fancy Indexing**

In [43]:
students_df.loc[['Shujaat', 'Ali', 'Verma']]

          IQ  MARKS  PACKAGE
NAME
Shujaat  100    200       60
Ali      140    240       80
Verma    180    280      100

##### **c. Multiple Rows using Slicing**

In [44]:
students_df.loc['Ali':'Chandra']

          IQ  MARKS  PACKAGE
NAME
Ali      140    240       80
Chandra  160    260       90

In [45]:
students_df.loc['Shujaat':'Verma':2]

          IQ  MARKS  PACKAGE
NAME
Shujaat  100    200       60
Ali      140    240       80
Verma    180    280      100

##### **d. Multiple Rows using Boolean Array**

In [48]:
mask = students_df.index == 'Ali'
students_df.loc[mask]

       IQ  MARKS  PACKAGE
NAME
Ali   140    240       80

##### **e. Multiple Rows using Callable Function**

In [52]:
students_df.loc[lambda x : x['PACKAGE'] > x['PACKAGE'].mean()]

          IQ  MARKS  PACKAGE
NAME
Chandra  160    260       90
Verma    180    280      100

### üöÄ **Selecting Both Rows and Columns**

#### üéØ **1. Using `iloc[row, column]`**

In [55]:
ipl_df.iloc[0:5, 0:3]

        ID       City        Date
0  1312200  Ahmedabad  2022-05-29
1  1312199  Ahmedabad  2022-05-27
2  1312198    Kolkata  2022-05-25
3  1312197    Kolkata  2022-05-24
4  1304116     Mumbai  2022-05-22

#### üéØ **2. Using `loc[row, column]`**

In [56]:
students_df.loc['Shujaat':'Ali', 'PACKAGE']

NAME
Shujaat    60
Abbas      70
Ali        80
Name: PACKAGE, dtype: int64